<html>
    <head>
        <script>
function createCookie(name,value,days) {
   var expires = "";
   if (days) {
       var date = new Date();
       date.setTime(date.getTime() + (days*24*60*60*1000));
       expires = "; expires=" + date.toUTCString();
   }
   document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
   var nameEQ = name + "=";
   var ca = document.cookie.split(';');
   for(var i=0;i < ca.length;i++) {
       var c = ca[i];
       while (c.charAt(0)==' ') c = c.substring(1,c.length);
       if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
   }
   return null;
}

function eraseCookie(name) {
   createCookie(name,"",-1);
}
function test(){
    createCookie('ppkcookie','testcookie',7);

    var x = readCookie('ppkcookie')
    if (x) {
       console.log(x);
    }
    alert(x);
}
        </script>
    </head>
    <body>
        Creeer een cookie:
        <button type="button" id="buttoninput" onclick="test()">creeer een cookie</button>
        <hr>        
        <button type="button" id="buttoninput" onclick="verstuur()">Posten van een Bank via Post</button>
        <div id="output"></div>
    </body>
</html>



====================

@RequestMapping(value="/mapping/parameter/{foo}", method=RequestMethod.GET) public @ResponseBody String byParameter(@PathVariable String foo) { //Perform logic with foo return "Mapped by path + method + presence of query parameter! (MappingController)"; }
===

public void deletePerson(Person person) { 
personRepository.delete(person); 
}


================================================
<html>
    <head>
        <script>
            function test(){
                var bankinput = document.getElementById("banknaam").value;
                document.getElementById("resultaat").value = bankinput;
                document.getElementById("buttoninput").innerHTML = bankinput;
                alert(bankinput);
                      var xhttp = new XMLHttpRequest();
                  xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                              document.getElementById("outputserver").innerHTML = this.responseText;
                        }
                  };
                      xhttp.open("GET", "http://localhost:8082/bank2");
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.send();
            }
        </script>
    </head>
    <body>
        Ik werk
        First name: 
        <input type="text" id="banknaam" name="FirstName" value="Mickey">
        <br>
        <button type="button" id="buttoninput" onclick="test()">Click Me!</button>
        <input type="text" id="resultaat" name="FirstName" value="resultaat">
        <div id="outputserver"></div>
    </body>
</html>


